<div>
    <p>Hi <%= user.name %> </p>
    <br />
    <!-- <br /> -->
    <p>Your registration with E-mail Id: <strong> <%= user.email %> </strong> is successfull.</p>
    <p>
        Please verify your G-Link account by clicking on the verification link. 
        This Verification link is valid for 2:00 minutes
    </p>
    <button style="height: 2rem; width: 6rem; background-color: blue; border-radius: 5px; border: none;">
        <a href="<%= url %>" style="text-decoration: none; color: white; font-size: large;">
            Verify
        </a>
    </button>
    <br />
    <br />
    <p>Thank you</p>
    <p>G-Link Team</p>
</div>