<div>
    <p>Hi <%= user.name %> </p>
    <br />
    <!-- <br /> -->
    <p>
        Please reset your password by clicking on the Reset password link. 
        This password Reset link will be active only for 5:00 minutes.
    </p>
    <button style="height: 2rem; width: 10rem; background-color: blue; border-radius: 5px; border: none;">
        <a href="<%= url %>" style="text-decoration: none; color: white; font-size: large;">
            Reset Password
        </a>
    </button>
    <br />
    <br />
    <p>Thank you</p>
    <p>G-Link Team</p>
</div>